---
layout: base.njk
description: Lume is the Galician word for fire but also a fast and flexible static site generator for Deno.
body_class: landing

buttons:
  - text: Read the Docs
    url: /getting-started/overview/
    class: button
  - text: See examples
    url: /getting-started/examples/
    class: button is-secondary
  - text: Code in GitHub
    url: https://github.com/lumeland/lume
    class: button is-secondary
---

<header class="landing-header logo">
  <img src="/logo.svg">
  <h1 class="logo-name">Lume</h1>
  <p class="logo-description">A Static Site Generator for Deno</p>
</header>

<aside class="landing-code">
<pre class="language-bash"><code># Install it
deno run -A https://deno.land/x/lume/install.ts</code></pre>
</aside>

<nav class="landing-buttons">
  <ul>
    {% for item in buttons %}
    <li>
      <a href="{{ item.url }}" class="{{ item.class }}">{{ item.text }}</a>
    </li>
    {% endfor %}
  </ul>
</nav>

<footer class="landing-footer">
  <p>
    Propose new ideas and get help at <a href="https://discord.gg/YbTmpACHWB"><strong>Discord</strong></a>.<br>
    Support the project on <a href="https://opencollective.com/lume"><strong>Open Collective</strong></a>.
  </p>
</footer>
