---
layout: base.njk
description: Lume is the Galician word for fire but also a fast and flexible static site generator for Deno.
body_class: landing

buttons:
- text: Read the Docs
  url: /getting-started/overview/
  class: button
- text: See examples
  url: /getting-started/examples/
  class: button is-secondary
- text: Code in GitHub
  url: https://github.com/lumeland/lume
  class: button is-secondary

footer: |
  Created by [Oscar Otero](https://oscarotero.com).

  Propose new ideas and get help at [**Discord**](https://discord.gg/YbTmpACHWB).  
  Support the project on [**Open Collective**](https://opencollective.com/lume).

support:
  title: Lume is [supported](https://opencollective.com/lume) by
  sponsors:
    - name: Androw Nash
      url: https://audrow.github.io/
      image: /img/avatars/audrow.jpg
      amount: 5
      recurrent: true
    - name: Yuto Oguchi
      url: https://aiotter.com/
      image: /img/avatars/aiotter.jpg
      amount: 1
      recurrent: true
    - name: Tobias Schmidt
      url: https://tobiasschmidt.me/
      image: /img/avatars/tobias.png
      amount: 20
---

<header class="landing-header logo">
  <img src="/logo.svg">
  <h1 class="logo-name">Lume</h1>
  <p class="logo-description">A Static Site Generator for Deno</p>
</header>

<aside class="landing-code">
<pre class="language-bash"><code># Install it
deno run -A https://deno.land/x/lume/install.ts</code></pre>
</aside>

<nav class="landing-buttons">
  <ul>
    {% for item in buttons %}
    <li>
      <a href="{{ item.url }}" class="{{ item.class }}">{{ item.text }}</a>
    </li>
    {% endfor %}
  </ul>
</nav>

<section class="landing-support">
  <h2>{{ support.title | md(true) | safe }}</h2>

  <ul class="landing-sponsors">
    {% for sponsor in support.sponsors %}
    <li>
      <a href="{{ sponsor.url }}" title="{{ sponsor.name }}">
        <img src="{{ sponsor.image }}" alt="{{ sponsor.name }}">
      </a>
    </li>
    {% endfor %}
    </ul>
</section>

<footer class="landing-footer">
  {{ footer | md | safe }}
</footer>
