<!doctype html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% if title %}{{ title }} - {% endif %}🔥 Lume – A static site generator for Deno</title>
    <link rel="preload" as="style" href="https://dev.jspm.io/npm:highlight.js@10.1.2/styles/monokai-sublime.css">
    <link rel="preload" as="style" href="https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap">
    <link rel="preload" as="style" href="https://fonts.googleapis.com/css2?family=PT+Mono&display=swap">
    <link rel="stylesheet" href="/styles.css">
    <link href="/favicon-32x32.png" rel="icon" type="image/png" sizes="32x32">
    <meta name="description" content="{{ description }}">
    <meta property="og:image" content="{{ '/lume.png' | url(true) }}">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:url" content="{{ '/' | url(true) }}">
    <meta name="twitter:title" content="{{ title }}">
    <meta name="twitter:description" content="{{ description }}">
    <meta name="twitter:image" content="{{ '/lume.png' | url(true) }}">
    <meta name="twitter:creator" content="@misteroom">
    <script src="/js/scripts.js" type="module"></script>
  </head>

  <body class="{{ body_class }}">
    {{ content | safe }}
  </body>
</html>
