.landing {
  min-height: 100vh;
  display: grid;
  padding: 5vw;
  justify-content: center;
  align-content: center;
  box-sizing: border-box;
  row-gap: 2.5vh;
  grid-template-columns: minmax(0, 1fr);
}
.landing-code pre {
  margin: 0 auto;
  max-width: max-content;
}
.landing-header {
  margin-top: auto;
  justify-self: center;

  & img {
    width: clamp(130px, 25vw, 350px);
    height: clamp(130px, 25vw, 350px);
  }
  & .logo-name {
    margin: 0;
    font-size: clamp(3.5rem, 7vw, 7rem);
    line-height: 1.1;
  }
  & .logo-description {
    margin: 0;
    font-size: clamp(1.2rem, 3vw, 3rem);
    line-height: 1.1;
    max-width: 10em;
  }
}
.landing-buttons ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
}
.landing-footer {
  margin-bottom: auto;
  font: var(--font-xsmall);
  color: var(--color-foreground-50);
  justify-self: center;
}