html {
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
}
body {
  margin: 0;
  font: var(--font-text);
  color: var(--color-foreground);
  background-color: var(--color-background);
  min-width: 320px;
}

a {
  color: var(--color-brand);

  &:hover {
    text-decoration: none;
  }
}
code {
  font-family: var(--font-family-mono);
  background-color: var(--color-background-10);
  border-radius: 2px;
  font-size: 0.85em;
  padding: 0 2px;
  display: inline-block;
}
pre code {
  border-radius: 4px;
}
dt {
  font-weight: bold;
  margin-top: .5em;
}