.article {
  font: var(--font-text);
  max-width: 40em;
}

.article-header {
  & p {
    margin: 0;
  }

  & h1 {
    margin-top: 0;
    font: var(--font-display);
    letter-spacing: -0.015em;
  }
}

.article-content {
  & pre code {
    --color: var(--color-background-10);

    max-width: 100%;
    overflow-x: auto;
    border-radius: 4px;

    @media (prefers-color-scheme: dark) {
      border: solid 1px var(--color-background-20);
    }
  }

  & p {
    margin-top: 0;
  }

  & h2 {
    font: var(--font-title);
    margin-top: 2em;
    margin-bottom: .5em;
    letter-spacing: -0.01em;
  }
  & h3 {
    font-weight: bold;
    margin-top: 2em;
  }
  & .header-anchor {
    color: inherit;
    text-decoration: none;
    position: relative;

    &::before {
      content: "";
      display: block;
      background-image: url('data:image/svg+xml;utf-8,<svg viewbox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" width="16" height="16"><path fill-rule="evenodd" fill="black" d="M7.775 3.275a.75.75 0 001.06 1.06l1.25-1.25a2 2 0 112.83 2.83l-2.5 2.5a2 2 0 01-2.83 0 .75.75 0 00-1.06 1.06 3.5 3.5 0 004.95 0l2.5-2.5a3.5 3.5 0 00-4.95-4.95l-1.25 1.25zm-4.69 9.64a2 2 0 010-2.83l2.5-2.5a2 2 0 012.83 0 .75.75 0 001.06-1.06 3.5 3.5 0 00-4.95 0l-2.5 2.5a3.5 3.5 0 004.95 4.95l1.25-1.25a.75.75 0 00-1.06-1.06l-1.25 1.25a2 2 0 01-2.83 0z"></path></svg>');
      width: 16px;
      height: 16px;
      position: absolute;
      left: -20px;
      top: .4em;
      visibility: hidden;
    }
    &:hover::before {
      visibility: visible;
    }
  }

  & table {
    background-color: var(--color-background-10);
    border-collapse: collapse;
    font: var(--font-small);
    width: 100%;
    margin: 2em 0;

    & code {
      background: var(--color-background-20);
    }
  }
  & td,
  & th {
    padding: .5em;
    text-align: left;
  }
  & th {
    border-bottom: solid 1px var(--color-background-20);
  }
}
