.article {
  font: var(--font-text);
  max-width: 40em;
}

.article-header {
  & p {
    margin: 0;
  }

  & h1 {
    margin-top: 0;
    font: var(--font-display);
    letter-spacing: -0.015em;
  }
}

.article-content {
  & pre code {
    --color: var(--color-background-10);

    max-width: 100%;
    overflow-x: auto;
    border-radius: 4px;

    @media (prefers-color-scheme: light) {
      border: solid 1px var(--color-background-20);
    }
  }

  & p {
    margin-top: 0;
  }

  & h2 {
    font: var(--font-title);
    margin-top: 2em;
    margin-bottom: .5em;
    letter-spacing: -0.01em;
  }
  & h3 {
    font-weight: bold;
    margin-top: 2em;
  }

  & table {
    background-color: var(--color-background-10);
    border-collapse: collapse;
    font: var(--font-small);
    width: 100%;
    margin: 2em 0;

    & code {
      background: var(--color-background-20);
    }
  }
  & td,
  & th {
    padding: .5em;
    text-align: left;
  }
  & th {
    border-bottom: solid 1px var(--color-background-20);
  }
}
