.navbar {
  display: flex;
  background: var(--color-background);
  box-shadow: 0 1px 10px var(--color-shadow);
  padding: 10px 5vw;
}
.navbar-links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  column-gap: 0.5rem;

  & > li {
    display: flex;
    align-items: center;

    &.has-separator {
      border-right: solid 1px var(--color-background-20);
      padding-right: 1rem;
      margin-right: 0.5rem;
    }

    @media (max-width: 1000px) {
      &.not-mobile {
        display: none;
      }
    }
    @media (max-width: 700px) {
      display: none;
    }
  }

  & svg {
    display: block;
    width: 28px;
    height: 28px;
    fill: var(--color-foreground);
    padding: 8px;
    border-radius: 50%;
  }

  & a {
    display: block;
    font: var(--font-xsmall);

    &:hover {
      text-decoration: none;

      & svg {
        background-color: var(--color-background-20);
      }
    }
  }
}
.navbar-logo {
  color: inherit;
  text-decoration: none;
  margin-right: auto;
  white-space: nowrap;
  outline: 0;

  & img {
    width: 64px;
    height: 64px;
  }
  & strong {
    font-size: 2.2rem;
  }
  & em {
    font: var(--font-xsmall);
    color: var(--color-foreground-50);
  }
}
.navbar-search {
  flex: 1 1 auto;
  margin: 0 1rem;
  align-self: center;
  width: 100%;
  max-width: 240px;

  font: var(--font-small);
  display: flex;
  align-items: center;
  padding: 0.5em 0.25em;

  border-radius: 1.5rem;
  border: solid 2px var(--color-shadow);
  background: var(--color-white);
  color: var(--color-black);
  font-weight: 500;

  & svg {
    height: 1em;
    width: 1em;
    margin: 0 0.5em;
  }

  & kbd {
    margin-right: 0.5em;
    margin-left: auto;
    font: var(--font-xsmall-bold);
    font-size: 0.8em;
    background: var(--color-black);
    color: var(--color-white);
    padding: 0.25em 0.6em 0.25em 0.5em;
    border-radius: 0.375rem;
    border: solid 2px var(--color-shadow);
  }

  &:hover {
    border-color: var(--color-brand);
    box-shadow: 0 0 0 1px var(--color-brand);
    cursor: pointer;
  }

  @media (max-width: 500px) {
    width: auto;
    flex-grow: 0;

    & span,
    & kbd {
      display: none;
    }
  }
}
