.navbar {
  display: flex;
  background: var(--color-background);
  box-shadow: 0 1px 10px var(--color-shadow);
  padding: 10px 5vw;
}
.navbar-links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  column-gap: .5rem;

  & > li {
    display: flex;
    align-items: center;

    &.has-separator {
      border-right: solid 1px var(--color-background-20);
      padding-right: 1rem;
      margin-right: .5rem;
    }

    @media (max-width: 1000px) {
      &.not-mobile {
        display: none;
      }
    }
    @media (max-width: 700px) {
      display: none;
    }
  }

  & svg {
    display: block;
    width: 28px;
    height: 28px;
    fill: var(--color-foreground);
    padding: 8px;
    border-radius: 50%;
  }

  & a {
    display: block;
    font: var(--font-xsmall);

    &:hover {
      text-decoration: none;

      & svg {
        background-color: var(--color-background-20);
      }
    }
  }
}
.navbar-logo {
  color: inherit;
  text-decoration: none;
  margin-right: auto;
  white-space: nowrap;
  outline: 0;

  & img {
    width: 64px;
    height: 64px;
  }
  & strong {
    font-size: 2.2rem;
  }
  & em {
    font: var(--font-xsmall);
    color: var(--color-foreground-50);
  }
}
.navbar-search {
  flex: 1 1 auto;
  margin: 0 1rem;
  align-self: center;
  max-width: 400px;

  @media (max-width: 500px) {
    display: none;
  }
}