lume-search::part(input) {
  font: var(--font-small);
  display: block;
  width: 100%;
  border-radius: 1.5rem;
  border: solid 2px var(--color-shadow);
  padding: .5em 1em;
  background: var(--color-white);
  color: var(--color-black);
}
lume-search::part(input):focus {
  outline: 0;
  box-shadow: 0 0 0 2px var(--color-brand);
  border-color: var(--color-brand-dark);
}
lume-search::part(label) {
  font: var(--font-small);
}
lume-search::part(items) {
  margin-top: 2px;
  background: var(--color-white);
  padding: .5rem 0;
}
lume-search::part(item) {
  background: var(--color-white);
  color: var(--color-black);
  padding: .3rem .5rem;
  font: var(--font-small);
}
lume-search::part(active) {
  background: var(--color-brand);
  color: var(--color-white);
}